<!DOCTYPE html>
<html lang="ja-jp">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'posts/css/index.css' %}">

    <title>ユーザー登録画面</title>
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                {% load static %}
                <img src="{% static 'posts/logo2.png' %}" class="img-fluid rounded" style="max-height: 55px" /></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="search" placeholder="キーワード検索">
                        </div>
                        <div class="control">
                            <a class="button is-primary"><i class="fa fa-search"></i>検索</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'accounts:signup' %}">
                            <strong>ユーザー登録</strong>
                        </a>
                        <a class="button is-light" href="{% url 'accounts:login' %}">
                            ログイン
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class='container'>
        <br /><br />
        <h2 class="signup-title">ログインページ</h2>
        <form action="{% url 'accounts:login' %}" method="post">
            {{ form.non_field_errors }}
            {% csrf_token %} 
            {% for field in form %}
            <div class="signup">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}
            </div>
            {% endfor %}
            <br />
            <input type="submit" value="ログイン" style="width:100%;" class="button is-primary">
        </form>
        <p>アカウントを持っていない場合は→<a href="{% url 'accounts:signup' %}">ユーザー登録</a></p>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Withdom</strong>
            </p>
        </div>
    </footer>
</body>

</html>