<!DOCTYPE html>
<html lang="ja-jp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>ユーザー登録画面</title>
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                {% load static %}
                <img src="{% static 'posts/logo3.png' %}" class="img-fluid rounded" style="max-height: 55px" /></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="search" placeholder="キーワード検索">
                        </div>
                        <div class="control">
                            <a class="button is-primary"><i class="fa fa-search"></i>検索</a>
                        </div>
                    </div>
                </div>

                <a class="navbar-item">
                    Documentation
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'accounts:signup' %}">
                            <strong>ユーザー登録</strong>
                        </a>
                        <a class="button is-light" href="{% url 'accounts:login' %}">
                            ログイン
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class='container'>
        <br /><br />
        <h1>ログインページ</h1>
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
        </form>
        <p>or <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="/">Jeremy Thomas</a>. The source code is licensed
                <a href="/">MIT</a>. The website content
                is licensed <a href="/">CC BY NC SA 4.0</a>
            </p>
        </div>
    </footer>
</body>

</html>