<!DOCTYPE html>
<html lang="ja-jp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'posts/css/index.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'posts/images/favicon.ico' %}">
    <title>CreHub</title>
</head>

<body>
    <div class="header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'posts/images/te-logo.png' %}" class="img-fluid rounded"
                        style="max-height: 55px" /></a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                        </div>
                    </div>

                </div>

                <div class="navbar-end">
                    {% if user.id %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{ user.username }}
                        </a>

                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item">
                                マイページ
                            </a>
                            <a class="navbar-item" href="{% url 'posts:add' %}">
                                記事を書く
                            </a>
                            <a class="navbar-item">
                                アクセス解析
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'accounts:logout' %}">
                                ログアウト
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'accounts:signup' %}">
                                <strong>ユーザー登録</strong>
                            </a>
                            <a class="button is-light" href="{% url 'accounts:login' %}">
                                ログイン
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>
    <br /><br />
    <form action="{% url 'posts:add' %}" method="POST" enctype="multipart/form-data">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
        <div class="signup">
            {{ form.media }}
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <span class="helptext">{{ field.help_text }}</span>
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}

        <br /><br />

        <div class="post-article">
            <button class="button is-info" type="submit">投稿する</button>
        </div>
        <br /><br />
    </form>


    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>CreHub</strong>
            </p>
        </div>
    </footer>
</body>
<script src="{% static 'mdeditor/languages/en.js' %}"></script>
</html>