<!DOCTYPE html>
<html lang="ja-jp">
{% load markdown_extras %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer></script>
    <script src="{% static 'posts/js/tabs.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'posts/css/index.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'posts/images/favicon.ico' %}">
    <link href="{% static 'posts/mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'posts/mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
</head>

<body>
    <div class="header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'posts/images/te-logo.png' %}" class="img-fluid rounded"
                        style="max-height: 55px" /></a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <form action="" method="get">
                                <div class="control">
                                    <input class="input" name="keyword" type="text" placeholder="キーワードを入力">
                                </div>
                                <div class="control">
                                    <button class="button is-primary" type="submit"><i
                                            class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="navbar-end">
                    {% if user.id %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{ user.username }}
                        </a>

                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" href="{% url 'posts:add' %}">
                                記事を書く
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'accounts:logout' %}">
                                ログアウト
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'accounts:signup' %}">
                                <strong>ユーザー登録</strong>
                            </a>
                            <a class="button is-light" href="{% url 'accounts:login' %}">
                                ログイン
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <p>CreHub</p>
    </footer>
</body>

</html>