{% extends './base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<title>{{ post.title}} - CreHub</title>
<body>
    <script>
        function api_like() {
            var api_url = "{% url 'api_like' post.id %}";
            var btn = document.getElementById("like");
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState === 4 && request.status === 200) {
                    var received_data = JSON.parse(request.responseText);
                    btn.innerText = received_data.like;
                }
            }
            request.open("GET", api_url);
            request.send();
        }
    </script>

    <div class="main-contents">
        <br />

        <div class="user-card">
            <div class="card">
                <div class="card-image">
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{% static 'posts/images/logo3.png' %}">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ post.author }}</p>
                            <p class="subtitle is-6">@userid</p>
                        </div>
                    </div>
                    <div class="content">
                        <!-- カードの内容 -->
                    </div>
                </div>
            </div>
        </div>

        <div class="containers-detail">
            <br />
            <a href="{% url 'post_detail' post.id %}">
                <h1 style="font-size: 30px;">{{ post.title }}</h1>
            </a>
            <p>アクセス数:{{ post.views }}</p>
            <br />
            {% for tag in post.tags.all %}
            <button class="button is-success is-small is-rounded">{{ tag }}</button> {% endfor %}
            {% if post.btc %}
            <div class="throw-money">
                <div
                    onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
                    <a class="button is-medium" style="cursor:pointer;"><span class="icon is-small">
                            <i class="fab fa-btc" aria-hidden="true"
                                style="color:rgb(158, 158, 9); font-size: 35px; "></i>
                        </span>　投げ銭する</a>
                </div>
                <div id="open" style="display:none;clear:both;">
                    {{ post.btc }}
                </div>
            </div>
            {% endif %}
            <br /><br />
            
            {{ post.published }}
            {{ post.author }}
            
            <br />
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid rounded" style="max-height: 200px" />
            {% endif %}
            <br /><br />
            <div class="content">
                {{ post.body|markdown|safe }}
            </div>
            <hr>
            <div class="level-left">
                <span id="like">{{ post.like }}</span>
                <div class="icon-color">
                    <a class="level-item" aria-label="like" onclick="api_like()">
                        <span class="icon is-small">
                            <i class="fas fa-star" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="share-sns">
                <a class="button is-small is-facebook is-info" href="http://www.facebook.com/share.php?u={{ request.scheme }}://{{ request.get_host }}{{ request.path }}&t={{ item_obj.title }}" target="_blank">
                    <span class="icon">
                        <i class="fab fa-facebook fa-lg"></i>
                    </span>
                </a>
                
                <a class="button is-small is-twitter is-link" href="http://www.twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ request.path }}&t={{ item_obj.title }}" target="_blank">
                    <span class="icon">
                        <i class="fab fa-twitter fa-lg"></i>
                    </span>
                </a>
            </div>

            <br /><br />
            <form action="" method="POST">
                <p><label for="com">コメント</label></p>
                {% csrf_token %}
                <textarea name="text" id="com" cols="30" rows="10"></textarea>
                <button type="submit">投稿</button>
            </form>

            {% for comment in post.comments.all %}
            <p>{{ comment.text }}</br><small>{{ comment.posted_at }}</small></p>
            {% empty %}
            <p>コメントはありません</p>
            {% endfor %}
            <br />
            {% if user.username == post.author|stringformat:"s" %}
            <button class="button is-danger is-outlined"
                onclick="location.href='{% url 'posts:delete' post_id=post.id %}'">削除</button>
            <button class="button is-link is-outlined" onclick="location.href='{% url 'posts:edit' post_id=post.id %}'"
                style="float: right;">編集</button>
            {% endif %}
            <br /><br />
        </div>
        <br /><br />

    </div>

    </div>
</body>
{% endblock %}