{% extends './base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}

<script>
    function api_like() {
        var api_url = "{% url 'api_like' post.id %}";
        var btn = document.getElementById("like");
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (request.readyState === 4 && request.status === 200) {
                var received_data = JSON.parse(request.responseText);
                btn.innerText = received_data.like;
            }
        }
        request.open("GET", api_url);
        request.send();
    }
</script>
<div class="main-contents">
    <br />

    <div class="user-card">
        <div class="card">
            <div class="card-image">
            </div>
            {% if user.id %}
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="{% static 'posts/logo3.png' %}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ user.username }}</p>
                        <p class="subtitle is-6">@userid</p>
                    </div>
                </div>
                <div class="content">
                    <p>投稿数 : 0</p>
                    <p>いいね数 : 0</p>
                    <p>ブックマーク数 : 0</p>
                    <p>総アクセス数 : 0</p>
                    <hr>
                    <p>記事を書く</p>
                </div>
            </div>
            {% else %}
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="{% static 'posts/logo3.png' %}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">ゲスト</p>
                        <p class="subtitle is-6">@userid</p>
                    </div>
                </div>
                <div class="content">
                    <p>投稿数 : 0</p>
                    <p>いいね数 : 0</p>
                    <p>ブックマーク数 : 0</p>
                    <p>総アクセス数 : 0</p>
                    <hr>
                    <a href="{% url 'accounts:signup' %}">
                        <strong>記事を書く</strong>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <br /><br />
        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
        <br /><br />
        {{ post.published }}
        <br /><br />
        {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid rounded" style="max-height: 200px" />
        {% endif %}
        <br /><br />
        {{ post.body|markdown|safe }}
        <br /><br />
        <div class="level-left">
            <p><span id="like">{{ post.like }}</span>いいね！</p>
            <div class="icon-color">
                <a class="level-item" aria-label="like" onclick="api_like()">
                    <span class="icon is-small">
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>

        <br /><br />

        {% if user.username == post.author|stringformat:"s" %}
        <button class="button is-danger is-outlined"
            onclick="location.href='{% url 'posts:delete' post_id=post.id %}'">削除</button>
        <button class="button is-link is-outlined" onclick="location.href='{% url 'posts:edit' post_id=post.id %}'"
            style="float: right;">編集</button>
        {% endif %}
        <br /><br />



    </div>
    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
    <script>
        $(function () {
            editormd.markdownToHTML("content", {
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            });
            $(".reference-link").each(function (i, obj) {
                console.log(obj)
            })
        })
    </script>
</div>
</body>
{% endblock %}