{% extends './base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}


<div class="main-contents">
    <br />
    <div class="categolize-menu">
        <aside class="menu">
            <p class="menu-label">
                カテゴリ一覧
            </p>
            <ul class="menu-list">
                <li><a>作ってみた</a></li>
                <li><a>質問コーナー</a></li>
                <li><a>マメ知識</a></li>
                <li><a>アルゴリズム</a></li>
                <li><a>その他</a></li>
            </ul>
            <p class="menu-label">
                質問箱
            </p>
            <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li>
                    <a class="is-active">Manage Your Team</a>
                    <ul>
                        <li><a>Members</a></li>
                        <li><a>Plugins</a></li>
                        <li><a>Add a member</a></li>
                    </ul>
                </li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label">
                アルゴリズム
            </p>
        </aside>
    </div>
    <div class="user-card">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{% static 'posts/logo3.png' %}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ user.username }}</p>
                        <p class="subtitle is-6">@userid</p>
                    </div>
                </div>

                <div class="content">
                    <p>投稿数 : 0</p>
                    <p>いいね数 : 0</p>
                    <p>ブックマーク数 : 0</p>
                    <p>総アクセス数 : 0</p>
                    <hr>
                    <p>ブログ開設日</p>
                    <time datetime="2020-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br /><br />
        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
        <br /><br />
        {{ post.published }}
        <br /><br />
        <img src="{{ post.image.url }}" class="img-fluid rounded" style="max-height: 200px" />
        <br /><br />
        {{ post.body|markdown|safe }}
        <br /><br />
        <button><a href="{% url 'posts:delete' post_id=post.id %}">削除</a></button>
        <button><a href="{% url 'posts:edit' post_id=post.id %}">編集</a></button>
        <br /><br />



    </div>
    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
    <script>
        $(function () {
            editormd.markdownToHTML("content", {
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            });
            $(".reference-link").each(function (i, obj) {
                console.log(obj)
            })
        })
    </script>
</div>
</body>
{% endblock %}