{% extends './base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
<div class="top-intro">
    <div class="top-message">
        <h2 style="font-family:arial black">Share your creativity</h2>
        <p>あなたの「創る」を共有しましょう</p>
        <br />
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" href="{% url 'accounts:signup' %}">
                    <strong>ユーザー登録</strong>
                </a>
                <a class="button is-primary is-outlined" href="/about">
                    <strong>CreHubって何？</strong>
                </a>
            </div>
        </div>
    </div>
    <img src="{% static 'posts/images/te.png' %}">
</div>
<div class="main-contents">
    <div class="categolize-icon">
        <span class="icon has-text-info">
            <i class="fas fa-tag" aria-hidden="true" style="color: rgb(50, 231, 177);"></i>
        </span>
        <span>タグ一覧</span>
    </div>
    <div class="categolize-menu">
        <aside class="menu">
            <ul class="menu-list">
                <hr class="navbar-divider">
                {% for post in posts.all|slice:":1" %}
                {% for tag, num in post.get_tags.items %}
                <li>
                    <span><a href="{% url 'categol_list' tag %}">{{ tag }}({{ num }})</a></span>

                </li>
                <hr class="navbar-divider">
                {% endfor %}
                {% endfor %}
            </ul>
        </aside>
    </div>
    <br />
    <div class="user-card">
        <div class="card-icon">
            <span class="icon has-text-info">
                <i class="fas fa-address-card" aria-hidden="true" style="color: rgb(50, 231, 177);"></i>
            </span>
            <span>マイカード</span>
        </div>
        <div class="card">
            <div class="card-image">
            </div>
            {% if user.id %}
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="{% static 'posts/images/top-image.png' %}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ user.username }}</p>
                        <p class="subtitle is-6">@userid</p>
                    </div>
                </div>
                <div class="content">
                    <hr>
                    <a href="{% url 'posts:add' %}">
                        <strong>記事を書く</strong>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="{% static 'posts/images/logo3.png' %}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">ゲスト</p>
                        <p class="subtitle is-6">@userid</p>
                    </div>
                </div>
                <div class="content">
                    <p>投稿数 : 0</p>
                    <p>いいね数 : 0</p>
                    <p>総アクセス数 : 0</p>
                    <hr>
                    <a href="{% url 'accounts:signup' %}">
                        <strong>記事を書く</strong>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="containers">
        <section class="hero">
            <div class="hero-foot">
                <nav class="tabs is-toggle">
                    <div class="container">
                        <span class="icon has-text-info">
                            <i class="fas fa-chart-line" aria-hidden="true" style="color: rgb(50, 231, 177);"></i>
                        </span>
                        <span style="font-weight: inherit; font-size: 1em;">トレンド</span>
                        <ul>
                            <li class="tab is-active" onclick="openTab(event,'WebDev')"><a>最新</a></li>
                            <li class="tab" onclick="openTab(event,'WebAud')"><a>いいね数</a></li>
                            <li class="tab" onclick="openTab(event,'Support')"><a>アクセス数</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
        <div class="container section">
            <div id="WebDev" class="content-tab">
                {% for post in posts.all|slice:":15" %}
                <div class="box">
                    <article class="media">
                        <a href="{% url 'post_detail' post.id %}">
                            <div class="media-left">
                                {% if post.image %}
                                <figure class="image is-64x64">
                                    <img src="{{ post.image.url }}" alt="Image">
                                </figure>
                                {% endif %}
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <strong>{{ post.title }}</strong><br>
                                    <small>{{ post.published }}</small>
                                    <small>{{ post.author }}</small>
                                    {% for tag in post.tags.all %}
                                    <button class="button is-success is-small is-rounded">{{ tag }}</button>
                                    {% endfor %}
                                    <br>
                                    {{ post.summary|markdown|safe }}
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <p><span id="like" style="font-weight:normal;">{{ post.like }}</span>いいね！</p>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small has-text-info">
                                                <i class="fas fa-star" aria-hidden="true"
                                                    style="color: rgb(50, 231, 177);"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                    </article>
                    </a>
                </div>

                {% endfor %}
            </div>
            <div id="WebAud" class="content-tab" style="display:none">
                {% for post in posts.all|slice:":1" %}
                {% for p in post.sort_like|slice:":15" %}
                <div class="box">
                    <article class="media">
                        <a href="{% url 'post_detail' post.id %}">
                            <div class="media-left">
                                {% if p.image %}
                                <figure class="image is-64x64">
                                    <img src="{{ p.image.url }}" alt="Image">
                                </figure>
                                {% endif %}
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <strong>{{ p.title }}</strong><br>
                                    <small>{{ p.published }}</small>
                                    <small>{{ p.author }}</small>
                                    {% for tag in p.tags.all %}
                                    <button class="button is-success is-small is-rounded">{{ tag }}</button>
                                    {% endfor %}
                                    <br>
                                    {{ p.summary|markdown|safe }}
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <p><span id="like" style="font-weight:normal;">{{ p.like }}</span>いいね！</p>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small has-text-info">
                                                <i class="fas fa-star" aria-hidden="true"
                                                    style="color: rgb(50, 231, 177);"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                    </article>
                    </a>
                </div>
                {% endfor %}
                {% endfor %}

            </div>
            <div id="Support" class="content-tab" style="display:none">
                {% for post in posts.all|slice:":1" %}
                {% for p in post.sort_views|slice:":15" %}
                <div class="box">
                    <article class="media">
                        <a href="{% url 'post_detail' post.id %}">
                            <div class="media-left">
                                {% if p.image %}
                                <figure class="image is-64x64">
                                    <img src="{{ p.image.url }}" alt="Image">
                                </figure>
                                {% endif %}
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <strong>{{ p.title }}</strong><br>
                                    <small>{{ p.published }}</small>
                                    <small>{{ p.author }}</small>
                                    {% for tag in p.tags.all %}
                                    <button class="button is-success is-small is-rounded">{{ tag }}</button>
                                    {% endfor %}
                                    <br>
                                    {{ p.summary|markdown|safe }}
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <p><span id="like" style="font-weight:normal;">{{ p.like }}</span>いいね！</p>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small has-text-info">
                                                <i class="fas fa-star" aria-hidden="true"
                                                    style="color: rgb(50, 231, 177);"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                    </article>
                    </a>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <br />
    </div>
</div>
{% endblock %}