.header {
    border-bottom: 0.5px solid #a6adac;
    box-shadow:0px 0.5px 0.5px #a6adac;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #f5f5f5;
  }

.main-contents {
    flex: 1;
    background-color: #f5f5f5;
}

.footer {
    background-color: #8d9993;
    color: white;
    text-align: center;
    font-size: x-large;
    width: 100%;
    bottom: 0;
}

.containers {
    margin-right: 22%;
    margin-left: 20.5%;
}

.containers-detail {
    margin-right: 24%;
    margin-left: 2.5%;
    margin-bottom: 3%;
    background-color: white;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    border-radius: 4px;
    padding: 30px;
}

.containers-detail h1 {
    color: black;
}


.search-result {
    margin-right: 24%;
    margin-left: 24%;
}

.tabs .container a {
    color: white;
    background-color: #57d8c5;
}

.tabs .container {
    margin-left: 3.8%;
    font-weight: bold;
}

.container span {
    font-size: 17px;
    padding: 0px;
    font-weight: bold;
}
.container a:checked {
    background-color: black;
}

.container li {
    color: white;
    margin-top: 1.5%;
}

.media a {
    color: rgb(9, 54, 39);
}

.media .content button {
    font-size: 14px;
    height: 20px;
}


@media screen and (max-width: 460px){
    .user-card {
        display:none;
    }
    .tag-menu {
        display:none;
    }
    .top-intro img {
        display:none;
    }
    .containers {
        margin-right: 4%;
        margin-left: 4%;
    }
    .top-message {
        font-size: large;
    }
    .containers-detail {
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .top-message h2 {
        font-size: 27px;
    }
    .top-message p {
        font-size: 20px;
    }
}

.card {
    width: 20%;
    float: right;
    margin-right: 2%;
    margin-top: 3.2%;
}

.card-icon{
    position: absolute;
    float: right;
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 78%;
    font-weight: bold;
}

.card-image {
    margin-right: 2%;
}

.tag-menu {
    float: left;
    width: 18%;
    margin-left: 2%;
    margin-top: 2%;
}

.categolize-menu {
    background-color: #f5f5f5;
    font-weight: bold;
    width: 100%;
    margin-left: 2%;
    margin-top: 18%;
}

.categolize-menu a:hover {
    background-color: #3273dc;
    color: white;
}

.categolize-menu .menu {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}

.categolize-icon {
    float: left;
    margin-left: 2.5%;
    font-weight: bold;
}

.errorlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: red;
}

div.signup {
    margin-top: 30px;
}

div.signup > span.helptext {
    font-size: 14px;
    color: #999;
}

div.signup > label {
    display: block;
}

div.signup > input, div.signup > textarea, div.signup > select, div.signup > button {
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #999;
}

.signup-title {
    font-size: 36px;
    font-weight: bold;
}

.post-article button {
    float: right;
    margin-right: 10%;
}

.icon-color a:hover {
    color: yellow;
}

.icon-color a {
    color: rgb(50, 231, 177);
}

.top-intro {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 0 6px -2px rgb(180, 180, 180);
    animation: fadeIn 2s ease 0.3s 1 normal;
}

.top-intro img{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}

.top-message {
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    font-family: BlinkMacSystemFont
}

.top-message p{
    font-size: 20px;
    
}



.navbar-start .control {
    display:  inline-block;
}

.about-intro {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    background-color:#57d8c5;
    color: white;
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 0 0 6px -2px rgb(180, 180, 180);
    animation: fadeIn 2s ease 0.3s 1 normal;
}

.about-message {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: BlinkMacSystemFont
}

.about-item {
    background-color: #effaf4;
    border-radius: 10px;
    color: #57d8c5;
    font-size: 23px;
    width: 100%;
    text-align: left;
    padding: 15px;
    margin-bottom: 5%;
}

.about-item p {
    font-size: 13px;
}

.about-item li {
    font-size: 24px;
}

.about-item h1 {
    text-align: center;
}

.about-item .icon {
    margin-left: 45%;
}


.content pre {
    padding: 0px;
}

.throw-money {
    bottom: 30px;
    width: 10%;
}

.signup-contents {
    margin-right: 22%;
    margin-left: 20.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: white;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    border-radius: 4px;
}

.login-contents {
    margin-right: 22%;
    margin-left: 20.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: white;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    border-radius: 4px;
}

.share-sns {
    float: right;
}